html{
    background-color: teal;
}
img{
    border: 10px solid aquamarine;
    margin-top: 200px;
    margin-left: 50px;
    height: 150px;
    width: 200px;

}
h1{
    text-align: center;
    font-family: 'Caveat', cursive;
font-family: 'Cedarville Cursive', cursive;
    color:white;
}
h2{
    text-align: right;
    font-family: 'Caveat', cursive;
    font-family: 'Cedarville Cursive', cursive;
    color:white;
}